* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  cursor: pointer;

  border: 1px dotted black;
  border-radius: 20px;
}

.file:hover,
.activeFile {
  text-decoration: underline;
  background-color: rgb(241, 237, 193);
}

.files {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .drop-area {
  width: 80vw;
  height: 80vh;
  border: 2px dotted black;
  display: flex;
  justify-content: center;
  align-items: center;
} */
