* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin-top: 10px;
  /* background-color: seashell; */
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  cursor: pointer;

  border: 1px dotted black;
  border-radius: 20px;
}

.file:hover {
  text-decoration: underline;
  background-color: rgb(241, 237, 193);
}

.activeFile {
  text-decoration: underline;
  background-color: rgb(241, 237, 193);
  box-shadow: 10px 5px 5px #d8b9b9;
}

.files {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.graphData_container {
  display: grid;
  grid-template-columns: 70% 30%;
}

.graph {
  margin-left: -100px;
}

.file_text {
  text-align: center;
  height: 85vh;

  margin: 15px 15px 0 15px;
  border: 1px dotted black;
  border-radius: 20px;
  background-color: rgb(248 246 246);
}

.file_text h1 {
  margin: 15px 0;
  text-transform: uppercase;
  text-decoration: underline;
}

.file_text p {
  height: 90%;
  overflow-y: scroll;
  padding: 10px;
}
